.assemblies-page {
  padding: 25px 0;
}

.assemblies-detail .assemblies-label {
  margin-right: 15px;
  margin-top: 7px;
}

.assemblies-detail .assemblies-description p {
  margin-bottom: 15px;
}

.assembly-members-button {
  margin-left: 10px;
}

.assemblies-block.assemblies-sections {
  padding: 0;
}

.assemblies-detail .assemblies-info-header:hover .edit-button {
  opacity: 1;
  pointer-events: all;
}

@media screen and (min-width: 769px) {
  .ballot-modal .modal-card,
  .ballot-modal .modal-content {
    width: 990px; 
  }
}

.ballot-sections .table {
  width: 100%;
}

.ballot-sections tfoot th {
  border: none;
}

.assemblies-sections .modal-card-body .message-body {
  border: 2px solid #000;
}


.assemblies-sections .modal-card-body .wrapper {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.message-footer {
  margin-top: 15px;
}

.vote-section.is-stale .input,
.vote-section.is-stale textarea,
.vote-section.is-stale select {
  border: none;
  background: none;
  box-shadow: none;
  pointer-events: none;
  padding-left: 0;
  min-height: auto;
  resize: none;
}

.vote-section.is-stale .select:after {
  display: none !important;
}

.vote-section.is-stale table {
  background: none;
}

.vote-section.is-stale table .button {
  display: none;
}

tfoot {
  padding: 10px;
  display: block;
}

.notification.notification-assembly {
  position: fixed;
  z-index: 30;
  bottom: -110px;
  right: 20px;
  transition: bottom 200ms ease-in-out;
}

.notification.notification-assembly.is-visible {
  bottom: 0;
}